.topics-list-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.topics-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topics-list-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.topics-list-item:hover {
    background-color: #f9f9f9;
}

.lesson-title {
    font-size: 1.2rem;
    color: #007bff;
}

.lesson-description {
    font-size: 0.9rem;
    color: #555;
}

h2 {
    margin: 0 auto; 
    width: fit-content; 
    padding-bottom: 10px;
}